.logo-loading {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Usa todo el alto del viewport */
}

.loading-image {
  width: 387px; /* Tamaño original de la imagen */
  height: 390px; /* Tamaño original de la imagen */
  background-size: contain; /* Ajusta la imagen para que no se deforme */
  background-repeat: no-repeat; /* Evita que se repita */
  background-position: center; /* Centra la imagen dentro del div */
  transition: transform 0.5s ease-out;
}

.fade-out {
  animation: fade 1.7s ease;
}

@keyframes fade {
  0% {
    transform: scale(0.5);
    filter: blur(0);
  }

  100% {
    transform: scale(1);
    filter: blur(10px);
  }
}

/* Media queries para ajustar en diferentes dispositivos */
@media (max-width: 480px) {
  .loading-image {
    width: 100%; /* Ajusta para pantallas pequeñas */
    height: 19vh; /* Usa un alto relativo */
  }
}
