body {
  margin: 0;
  color: azure;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-color: #060606;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  border-bottom: 1px solid #eee;
  padding-bottom: 2em;
}

span.flag img {
  width: 1.8em;
  margin: 0 1em;
}

#custom-switch {
  height: 1.3em;
  width: 3em;
}

.basic-navbar-nav {
  background-color: red !important;
}

.itemsNavbar {
  padding: 1em;
  max-width: 55%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.nav-link.active {
  color: red !important;
  font-weight: bold;
}

.itemsNavbar a {
  font-size: 1em;
  font-family: 'Assistant', sans-serif !important;
  color: azure;
  font-weight: 600;
  transition: all 0.1s linear;
}

.containerToDeath {
  margin: 0 auto;
  position: absolute;
  left: 15em;
  top: 100px;
}

.toDeath {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 3em;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemsNavbar a:hover,
.itemsNavbar a:active,
.itemsNavbar a:focus {
  color: red;
  text-decoration: none;
}

.container-rrss-header a:hover {
  color: azure;
}

@media (max-width: 1200px) {
  .itemsNavbar {
    transform: none;
    margin-top: 10px;
    text-align: center;
    max-width: 100%;
  }

  .itemsNavbar a {
    font-size: 1em;
  }
}

@media (max-width: 991px) {
  .itemsNavbar {
    transform: none;
    margin-top: 10px;
    text-align: center;
    flex-direction: column;
    max-width: 100%;
  }
  .toDeath {
    font-size: 1.5em !important;
  }

  .container-rrss-header {
    display: none;
  }

  .nav-item {
    font-size: 1em;
    border-bottom: 2px solid white;
  }

  .itemsNavbar .nav-item:nth-last-child(2) {
    border-bottom: none;
  }
}

/* Footer section */
footer {
  border-top: 1px solid #eee;
  padding-top: 2em;
  margin-top: 2em;
  color: azure;
}

.rrss-footer,
.rrss-header {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: 0;
}

.container-rrss-header {
  padding-left: 3em;
}

.rrss-header li {
  margin-right: 1em;
  font-size: 1.2em;
  cursor: pointer;
}

.rrss-header li a {
  color: azure;
}

.rrss-footer li {
  margin-right: 1em;
  font-size: 2em;
  cursor: pointer;
}

.rrss-footer li i.fa-facebook {
  color: #4267b2;
}

.rrss-footer li i.fa-instagram {
  color: #b81d99;
}

.rrss-footer li i.fa-youtube {
  color: #fa1b1b;
}

@media (max-width: 991px) {
  .navbar-toggler {
    background-color: #ffffff;
  }
}

@media (max-width: 522px) {
  .containerToDeath {
    top: 35px !important;
  }
  .toDeath {
    font-size: 1.2em !important;
  }
}
